/*********************
* Base
**/
    * {
        box-sizing: border-box;
    }

    body {
        margin-left: auto;
        margin-right: auto;
        width: 901px;
    }

/*********************
* Header
**/
    header {
        padding-top: 2em;
        padding-bottom: 2em;
        /* margin-top: 2em;
        margin-bottom: 2em; */
    }

    header section img {
        float: left;
        margin-right: 0.5em;
    }

    header nav {
        float: right;
        padding-bottom: 1em;
    }

    header nav ul:first-of-type {
        float: left;
        margin-right: 1em;
    }

    header nav ul:first-of-type li {
        float: left;
    }

    header nav ul:last-of-type {
        float: right;
    }

    header nav ul:last-of-type li {
        float: right;
    }

/*********************
* Main
**/
    main section:first-of-type {
        border-top: 15px solid;
        border-image: repeating-linear-gradient(35deg, white, white 1.5px, black 1.5px, black 2px)8;
        margin-bottom: 2em;
        padding-top: 7%;
    }

    main section:first-of-type h1 {
        display: block;
    }

    main section:first-of-type p:first-of-type {
        float: left;
    }

    main section:first-of-type div {
        float: right;
    }

    main section:first-of-type div img {
        float: left;
    }

    main section:first-of-type div p {
        float: left;
    }